<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <!-- Bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Linking  -->
    <link rel="stylesheet" href="css/SignUp.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bellota:wght@700&family=Black+Ops+One&family=Michroma&family=Montserrat:wght@500;700&family=Orbitron:wght@700&family=Piedra&family=Poiret+One&family=Seaweed+Script&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Header -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f1f6b;">
            <a class="navbar-brand navTitle">Library App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <a class="navbar-nav nav-link mr-auto mt-2 mt-lg-0 navItem" href="#"></a>
              <form class="form-inline my-2 my-lg-0">
                <a class="nav-link my-2 my-sm-0 navItem" href="/welcome">Home</a>
              </form>
            </div>
        </nav>
    </div>
    <!-- content -->
    <div>
        <div class="BlueBar">
            <a class="text-decoration-none Head" href="#"><%=head%></a>
        </div>
        <div style="min-height: 150vh; background-color: lightslategray;">
            <form class="signup-form-1" action="/signin" onsubmit="return !!(validateEmail() & validatePhone() & validatePassword() & validateCheckPassword());">
                <h1><%=head%></h1>
                <input type="text" placeholder="Full Name" class="txtb" required="">
                <input type="email" placeholder="Email Address" id="email" class="txtb" required="">
                <p for="email-check" id="email-error"></p>
                <input type="number" placeholder="Phone Number" id="phone-number" maxlength="10" class="txtb" required="">
                <p for="phonenumber-check" id="phone-error"></p>
                <input type="password" placeholder="Password" id="password" class="txtb" required="">
                <p for="password-check" id="password-error"></p>
                <p for="password-strenght" id="password-strength"></p>
                <input type="password" placeholder="Confirm Password" id="confirm-password" class="txtb" required="">
                <p for="confirmpassword-check" id="confirm-error"></p>
                <input type="submit" value="Create Account" id="submit" class="signup-btn text-decoration-none">
                <a class="text-decoration-none" href="/signin">Already Have One ?</a>
            </form>
        </div>
    </div>
    <!-- footer  -->
    <div>
        <footer class="mastfoot mt-auto">
            <p style="text-align: center;">For educational Purposes @<a class="foot" href="https://github.com/Justinjdaniel/LibraryApp">Library App</a>, by <a class="foot" href="https://github.com/Justinjdaniel/">Justin J</a>. <br>All Rights Reserved© 2020</p>
          </footer>
    </div>

    <script src="js/SignUp.js"></script>
    </body>
</html>