<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <!-- Bootstrap  -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Linking  -->
    <link rel="stylesheet" href="css/SignIn.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bellota:wght@700&family=Black+Ops+One&family=Michroma&family=Montserrat:wght@500;700&family=Orbitron:wght@700&family=Piedra&family=Poiret+One&family=Seaweed+Script&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Header -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f1f6b;">
            <a class="navbar-brand navTitle">Library App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <a class="navbar-nav nav-link mr-auto mt-2 mt-lg-0 navItem" href="#"></a>
              <form class="form-inline my-2 my-lg-0">
                <a class="nav-link my-2 my-sm-0 navItem" href="/welcome">Home</a>
              </form>
            </div>
        </nav>
    </div>
    <!-- content -->
    <div>
        <div class="BlueBar">
            <a class="text-decoration-none Head" href="#"><%=head%></a>
        </div>
        <div class="container-fluid" style="min-height: 110vh">
            <form class="box" action="/" onsubmit="return !!(validateUsername() & validatePassword());">
            <h1><%=head%></h1>
            <input type="email" required="" id="username" placeholder="Username">
            <p for="username-check" id="user-error"></p>
            <input type="password" required="" id="password" placeholder="Password">
            <p for="password-check" id="password-error"></p>
            <input type="submit" value="Sign In" id="submit" class="login-btn text-decoration-none">
            <a class="b1 text-decoration-none" href="#" target="_blank">FORGOT PASSWORD ?</a>
            <a class="b2 text-decoration-none" href="/signup" target="_blank">CREATE AN ACCOUNT</a>
          </form>
          </div>
    </div>
    <!-- footer  -->
    <div>
      <footer class="mastfoot mt-auto">
        <p style="text-align: center;">For educational Purposes @<a class="foot" href="https://github.com/Justinjdaniel/LibraryApp">Library App</a>, by <a class="foot" href="https://github.com/Justinjdaniel/">Justin J</a>. <br>All Rights Reserved© 2020</p>
      </footer>
    </div>

    <script src="js/SignIn.js"></script>
</body>
</html>